# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Environments
.env
.venv
env/
venv/
data/

# Distribution
build/
dist/
*.egg-info/

# Testing
.coverage
.pytest_cache/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

ch_data/
ch_logs/

.cache/
.joblib_temp/
data/qlib_data/